API_FRONT_PORT=5173
API_FRONT_HOST=localhost
API_FRONT_PROTOCOL=http
API_FRONT_URL=http://localhost:5173

API_BACK_PORT=3000
API_BACK_HOST=localhost
API_BACK_PROTOCOL=http
API_BACK_URL=http://localhost:3000

WS_MAX_PAYLOAD=1048576 # 1 MiB, in bytes
WS_MAX_MESSAGE_CONTENT_LENGTH=2000 # in characters

CORS_ORIGIN=http://localhost:5173
CORS_CREDENTIALS=true

COOKIE_HTTP_ONLY=true
COOKIE_SAME_SITE=lax
COOKIE_MAX_AGE=2592000 # 30 days, in seconds
COOKIE_RESET_MAX_AGE=900 # 15 minutes, in seconds
COOKIE_SECURE=false

MULTIPART_FILE_SIZE=8388608 # 8 MiB, in bytes
MULTIPART_FILES=5 # max number of files per upload
MAX_INPUT_PIXELS=24000000 # max image width*height, in pixels

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_URL=postgresql://postgres:password@db:5432/postgres

AWS_BUCKET_NAME=your-bucket-name
AWS_REGION=your-aws-bucket-region
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password

MAILER_HOST=smtp.example.com
MAILER_PORT=587
MAILER_SECURE=false
MAILER_USER=your-mailer-username
MAILER_PASS=your-mailer-password
MAILER_FROM="Matcha <no-reply@example.com>"

SCHEDULER_JOB_CRON=0 4 * * *

NOMINATIM_URL=https://nominatim.openstreetmap.org

DEV_USER_AVATAR=https://api.dicebear.com/9.x/identicon/svg?seed=dev-account
DEV_USER_USERNAME=devuser
DEV_USER_FIRSTNAME=John
DEV_USER_LASTNAME=Doe
DEV_USER_EMAIL=dev@example.com

SEED_PASSWORD=ChangeMe123!

ADMIN_TOKEN=your-admin-token