API_FRONT_PORT=5173
API_FRONT_HOST=localhost
API_FRONT_PROTOCOL=http
API_FRONT_URL=http://localhost:5173

API_BACK_PORT=3000
API_BACK_HOST=localhost
API_BACK_PROTOCOL=http
API_BACK_URL=http://localhost:3000
VITE_API_BACK_URL=http://localhost:3000
VITE_API_BACK_WS=ws://localhost:3000
